@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;    
} /*Revisar display*/
.container{
    position: relative;
}

#nav_drawer {
    margin-left: 0px;
}
.container #nav_drawer{
    position: absolute;
    left: 0%;
    width: 200px;
    height: 100vh;
    background: white;
    /*border-radius: 20px;*/
    overflow: hidden;    
}/*revisar barra de navegacion debe a la izquierda y quitar border radius border de color diferente al blanco Ronald*/
.container #nav_drawer ul {
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
}

#buttonreg_nav {
    border: 2px blue solid;
    width: 100%
    
}

#nav_drawer > ul > li > a > button{
    width: 100%;
}

#nav_drawer > ul > li > a > button:hover{
    background: green;
}

.container #nav_drawer ul li >a{
    position: relative;
    display: block;
    /*width: 100%;*/
    display: flex;    
    height: 85px;
    /*line-height: 60px;*/
    /*border-style: hidden;*/
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
}

/* Registro */

.contenedor{    
    max-width: 500px;
    width: 100%;    
    padding: 10px 10px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 10px 10px 5px 0px rgba(219,219,219,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(219,219,219,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(219,219,219,0.75);
}

.contenedor .title{
    font-size: 25px;
    font-weight: 700;
    position: relative;    
}
.contenedor .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:black;
}
#formRegistro{
    background-color: rgba(18, 18, 235, 0.26);
    padding: 10px;
    display: block;
}
/*Poner atributo gradient segun historias de usuario*/


.input-box input{         
    height: 40px;
    width: 100%;    
    border-radius: 5px;
    border: 1px solid #ccc;    
    font-size: 15x;        
}
#formRegistro .detalles-genero{
    position: relative;
    display: block;
}
.opcionesgeneros{
    position: relative;
    display: block;   
}
#formRegistro .buttom{
    height: 30px;
    margin: 5px 0;
}
#formRegistro .buttom input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: coral;
}
#formRegistro .buttom input:hover{
    background: crimson;
}

/* apectos generales */

.contenedorgrande{
    display: inline-flex;    
}

.opciones-configuracion{    
    /*margin-top: 80px;*/
    position: relative;    
    width: 250px;
    height: 100vh;
    background: white;    
    overflow: hidden;
}
.opciones-configuracion ul{
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;    
}
.opciones-configuracion .title{
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;    
    border-bottom: solid;
}
.opciones-configuracion div .boton{
    position: relative;        
    display: block;         
}
.opciones-configuracion div .boton button{
    height: 50px;
    width: 70px;    
}
.opciones-configuracion div .boton button span{
    display: flex;
    align-content: center;
}

#formRegistro > div > input {
    width: 100%;
}

.informaciondesarrolladores{
    display: block;
    border-style: solid;      
}
.integrantes{
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    border-style: solid;
}

.informacionprincipal > ul > li {
    margin-left: 50px;
    list-style: none;
}

input:focus-within {
    box-shadow: 0 0 10px 2px rgb(6, 248, 248);
    border: none;
    -webkit-box-shadow: 0 0 10px 2px rgb(6, 248, 248);
    -moz-box-shadow: 0 0 10px 2px rgb(6, 248, 248);
}

.contenedor__todo {
    background: rgb(208, 208, 245);
    padding:20px;
    border-radius: 10%;
    height: 350px;
}

.caja__inicio form input{
    width: 100%;
    padding: 5px;
    background: #f2f2f2c6;
    border-radius: 10;
    border-style: solid, white;
    border-color: aqua;
    border: none;
    margin-top: 20px;
}

.caja__inicio h3{
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10;
    border: none;
    margin-top: 20px;
}

.caja__inicio p{
    font-size: 10px;
    text-align: justify;
    padding: 5px;
    border-radius: 10;
    border: none;
    margin-top: 5px;
    max-width: 300px;
}

.caja__inicio button{
    position: center;
    font-size: 15px;
    text-align: justify;
    padding: 10px 30px;
    border-radius: 10;
    border: none;
    margin-top: 30px;
    max-width: 300px;
    background: #3b96f2a1;
    color: white;
    cursor: pointer;
}